.odc-roadmap-section {
    .odc-h-container {
        // width: 300vw;
        .odc-wrapper {
            background: aqua;
            .odc-roadmap__image {
                width: 2%;
            }
        }
    }
}

.odc__sticky__container {
    // * Set the viewport height depending on the number of images (100vh = 1img + 100vh)
    height: 800vh;
    .odc__sticky {
        overflow: hidden;
        position: sticky;
        top: 0;
        height: 100vh;
        .odc__scroll__section {
            position: absolute;
            top: 0;
            height: 100%;
            // * Set the viewport width depending on the viewport height set in the parent (it needs to be consistent)
            width: 800vw;
            will-change: transform;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // padding: 0 5vw;
        }
    }
}
