@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  font-size: $font-size-x-md;
  font-weight: $font-weight-bold;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.odc-btn {
  @include btn;
}

@each $key, $val in $colors {
  .odc-btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .odc-btn-outlined-#{$key} {
    @include btn(transparent);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
  .odc-btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
  .odc-btn-gradient {
    @include btn;
    background-color: unset;
    position: relative;
    background: var(--secondary);
    border-radius: 5px;
    color: white;
    isolation: isolate;
    overflow: hidden;
    &::before {
      content: '';
      // display: block;
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: inherit;
      background: var(--primary-gradient);
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.8s var(--anim-ease-primary);
    }
    &:hover::before {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}
