%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .odc-navbar {
    @extend %flex-layout;
    padding: $base-padding $base-padding * 2;
    // box-shadow: $base-box-shadow;
    &.odc-navbar__sticky {
      position: sticky;
      line-height: 70px;
      left: 0;
      width: 100%;
      top: 0;
      padding: 0;
      background: hsla(0,0%,100%,0);
      z-index: 10;
      box-shadow: 0 0 0 rgba(0,40,100,0);
      transition: all .25s ease-in-out;
      transform: translateZ(1000px);
      isolation: isolate;
      &::before {
        &[odc-nav-scrolled] {
          -webkit-backdrop-filter: blur(5px) saturate(200%);
          backdrop-filter: blur(5px) saturate(200%);
        }
        display: block;
        content: " ";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        border-bottom: 1px solid #c0c0c0;
        background: white;
        // background: hsla(0,0%,100%,0) linear-gradient(180deg,#f7faff,rgba(247,250,255,0.7));
        // transition: backdrop-filter .25s ease-out,-webkit-backdrop-filter .25s ease-out;
      }
    }
    [role='tablist'] {
      --_gap: 2rem;
      display: flex;
      margin: 0;
      padding: 0;
      &:hover ~ li,
      &:focus-visible ~ li {
        --_translate: -100%;
        --_scale-delay: 200ms;
      }
      .odc-nav-links {
        overflow: hidden;
        position: relative;
        padding-inline: calc(var(--_gap) / 2);
        min-inline-size: 3rem;
        transition: 120ms ease-out;
        &::after {
          content: '';
          position: absolute;
          inset-inline: 0;
          inset-block-end: 0;
          block-size: 3px;
          background-color: $secondary;
  
          translate: var(--_translate, 0);
          scale: var(--_scale, 0) 1;
          transition:
            scale 100ms var(--_scale-delay, 0ms), 
            translate 200ms;
        }
        &:hover ~ li,
        &:focus-visible ~ li {
          --_translate: -100%;
          --_scale-delay: 200ms;
        }
        &:hover,
        &:focus-visible {
          transform: scale(1.0300);
          --_scale: 1;
          --_translate: 0;
          --_scale-delay: 0ms;
        }
      }
    }
    .odc-container {
      @extend %flex-layout;
    }
  }

  .odc-logo {
    max-width: 80%;
  }
  
  @each $key, $val in $colors {
    .odc-navbar-#{$key} {
      @extend .odc-navbar;
      background-color: $val;
    }
  }