---
import Layout from '../layouts/Layout.astro';
import MainNavbarExpanded from '../layouts/MainNavbarExpanded.astro';
import NavbarExpanded from '../layouts/NavbarExpanded.astro';
import Hero from '../layouts/Hero.astro';
import CardsSection from '../layouts/CardsSection.astro';
import ConsultationSection from '../layouts/ConsultationSection.astro';
import WrappedSection from '../layouts/WrappedSection.astro';
import Banner from '../layouts/Banner.astro';
import RecentProjectsSection from '../layouts/RecentProjectsSection.astro';
import FeatureSection from '../layouts/FeatureSection.astro';
import PartnerSection from '../layouts/PartnerSection.astro';
import Footer from '../layouts/Footer.astro';

---

<Layout title="Home - Odecci">
	<NavbarExpanded/>
	<MainNavbarExpanded/>
	<Hero/>
	<div class="odc-backdrop">
		<CardsSection/>
		<ConsultationSection/>
		<WrappedSection/>
		<Banner />
		<RecentProjectsSection/>
		<FeatureSection />
		<PartnerSection />
	</div>
	<Footer />
</Layout>