*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

// * <html> = the root */
html {
    scroll-snap-type: y proximity;
    font-size: 62.5%;
    // * (62.5/100) * 16px = 10px */
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

body {
    font-family: $font-family;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: '';
        position: fixed;
        background: url('/img/BG-2.webp');
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

main {
    height: 100%;
}

section:not(.odc-hero-container) {
    scroll-snap-align: start;
}

:focus:not(:focus-visible) {
    outline: none;
}

menu,
ol,
ul,
li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

dialog {
    border: none !important;
}

hr {
    border: 0;
}

img {
    max-width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.odc-site-title {
    font-size: $font-size-lg;
}

.odc-site-links {
    font-size: $font-size-x-md;
    a:has(.odc-caret-down) {
        display: flex;
        align-items: center;
    }
}

.odc-socmed-links {
    & img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        width: 2.6rem;
        height: 2.6rem;
        background-size: 100% 100%;
    }
    &:last-of-type > img  {
        width: 3rem;
        height: 6rem;
    }
}

h1 {
    font-size: clamp(2.5rem, 6vw, 4.8rem);
    font-weight: $font-weight-bold;
    // line-height: 6rem;
    line-height: 1;
}

h2 {
    font-size: clamp(1.8rem, 1.6rem + 4vw, 4.4rem);
    font-weight: $font-weight-bold;
}

h3 {
    font-size: clamp(1.6rem, 1.6rem + 3vw, 3.2rem);
    font-weight: $font-weight-bold;
}

h4 {
    font-size: clamp(1.6rem, 1.55rem + 2.5vw, 2.4rem);
    font-weight: $font-weight-bold;
    position: relative;
}

h5 {
    font-size: clamp(1.6rem, 1.5rem + 2vw, 2.2rem);
    font-weight: $font-weight-bold;
    position: relative;
}

p {
    line-height: 3rem;
}

span:not(.odc-text-gradient, .odc-circle, .odc-input-label)::after {
    content: '\a';
    white-space: pre;
}

input {
    @include odc-input;
}

textarea {
    @include odc-textarea;
}

.odc-input-inner-wrapper {
    position: relative;
    .odc-input:focus ~ .odc-input-label, 
    .odc-input:focus ~ .odc-input-label-ta, 
    .odc-input.has-value ~ .odc-input-label, 
    .odc-input.has-value ~ .odc-input-label-ta {
        transform-origin: left top;
        transform: scale(0.75) translate(0, -3.4rem);
        color: white;
        background: $primary;
    }
    .odc-input:focus, 
    .odc-input.has-value {
        background: transparent;
        outline: 2px solid white;
        color: white;
    }
}

.odc-input-label {
    @include odc-input-label;
}

.odc-input-label-ta {
    @include odc-input-label-textarea;
}

.odc-form-validation {
    position: absolute;
    top: 100%;
    transform: translateY(2px);
    font-size: $font-size-md;
    color: $error;
}

.odc-backdrop {
    position: relative;
    isolation: isolate;
    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        margin-top: 10rem;
        border-top-left-radius: 200rem 10rem;
        border-top-right-radius: 200rem 7rem;
        background: white;
        inset: 0;
    }
}

.odc-circle {
    position: relative;
    display: inline-block;
    isolation: isolate;
    svg {
        position: absolute;
        width: 120%;
        top: 0;
        height: 135%;
        left: 5%;
        z-index: -1;
        margin-top: -2%;
        overflow: visible;
        pointer-events: none;
        stroke: var(--accent-light);
    }
}

.odc-text-gradient {
    background: linear-gradient(234deg, #132b3c, #19435e, #ed1c24, #fb373d);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: odc-gradient-anim 6s ease infinite;
    -o-animation: odc-gradient-anim 6s ease infinite;
    animation: odc-gradient-anim 6s ease infinite;
}
.odc-bg-gradient {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        filter: opacity(25%);
        background: linear-gradient(234deg, #132b3c, #19435e, #ed1c24, #fb373d);
        background-size: 200% 200%;
        -webkit-animation: odc-gradient-anim 6s ease infinite;
        -o-animation: odc-gradient-anim 6s ease infinite;
        animation: odc-gradient-anim 6s ease infinite;
    }
}

@-webkit-keyframes odc-gradient-anim {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}

@-o-keyframes odc-gradient-anim {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}

@keyframes odc-gradient-anim {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
