<div class="odc-banner odc-scroller" data-direction="right" data-speed="slow">
    <h2 class="odc-scroller__inner">
        <span class="odc-text-outline-primary">Our Recent Projects</span>
        <span class="odc-text-gradient">Our Recent Projects</span>
        <span class="odc-text-outline-primary">Our Recent Projects</span>
        <span class="odc-text-gradient">Our Recent Projects</span>
        <span class="odc-text-outline-primary">Our Recent Projects</span>
        <span class="odc-text-gradient">Our Recent Projects</span>
    </h2>
</div>