---
import Card from '../components/Card.astro';
---

<section class="odc-container odc-col-12-lg odc-light-streaks">
    <ul class="odc-fdr odc-justify-center">
        <Card
            url='public/img/Group-265-1.webp'
            title="Client Centric"
            body="Our client's needs are not just considerations; they are the driving force behind our solutions."
        />
        <Card
            url='public/img/Group-268-1.webp'
            title="Crafting Legacies"
            body="Every code we craft is a testament to our commitment to amplifying your business.​"
        />
        <Card
            url='public/img/Group-269.webp'
            title="A Blend of Design and Functionality"
            body="Our designs aren't just aesthetically pleasing; they're purpose-driven.​"
        />
    </ul>
</section>