<section class="odc-footer">
    <div class="odc-wrapper">
        <h2>
            <span>Do you have</span>
            <br>
            <span>anything in mind?</span>
        </h2>
    </div>
    <div class="odc-wrapper"></div>
</section>