---
import { OdecciRoadMap } from "../assets/constants.js";
---

<div class="odc-roadmap-section odc-bg-yellow">
    <div class="odc-wrapper">
        <img src={OdecciRoadMap.item1.src} alt={OdecciRoadMap.item1.name}>
    </div>
</div>
