<section class="odc-recent-projects-section odc-mt-5">
    <div class="cursor-dot" data-cursor-dot></div>
    <div class="cursor-outline" data-cursor-outline></div>

    <div class="odc-slide-container odc-container">
        <div class="odc-image-slider">
            <div class="odc-slides-div" odc-slider>
                <img src="/img/recent-projects/Ae-mock-up-scaled.webp" alt="" class="odc-slide-img">
                <button class="odc-slider-btn" ></button>
            </div>
            <div class="odc-slides-div" odc-slider>
                <img src="/img/recent-projects/Content-Management-System.webp" alt="" class="odc-slide-img">
                <button class="odc-slider-btn" ></button>
            </div>
            <div class="odc-slides-div" odc-slider>
                <img src="/img/recent-projects/Updated-mock-up-aopc.webp" alt="" class="odc-slide-img">
                <button class="odc-slider-btn"></button>
            </div>
            <div class="odc-slides-div" odc-slider>
                <img src="/img/recent-projects/Gold-one-mock-up-scaled.webp" alt="" class="odc-slide-img">
                <button class="odc-slider-btn"></button>
            </div>
        </div>

    </div>
</section>