<section class="odc-recent-projects-section odc-mt-5">
    <div class="odc-banner">
        <div class="odc-content">
            <img src="" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
        </div>
        <div class="odc-carousel-box"></div>
    </div>
</section>