---
import { WrappedWebsitesImage } from "../assets/constants"
---

<section class="odc-wrapped-section odc-mt-5">
    <div class="odc-10k-website-promotion odc-container">
    </div>
    <!-- <div class="odc-build-web odc-container">
        <div class="odc-container-anim odc-fdc odc-align-center odc-justify-center odc-h-100">
            <h2 class="odc-text-white odc-ta-center odc-mb-3">Elevate Your Business with a Stunning Website!</h2>
            <p class="odc-text-white odc-fs-xx-md odc-ta-center odc-mb-3">
                Our website development service is a blend of creativity, innovation, and technical prowess, 
                <br>
                resulting in digital experiences that captivate and convert.
            </p>
            <button class="odc-btn-gradient odc-text-white odc-fdr odc-align-center odc-mt-3">
                Start Building Your Website <img class="chevron-circle-right odc-pl-1" src="/icons/chevron-circle-right-alt.svg" alt="Arrow Button">
            </button>
        </div>
    </div> -->
    <div class="odc-build-web">
        <h2 class="odc-text-white odc-ta-center" data-slide-up-reveal-anim data-anim-stagger="1">Elevate Your Business with a Stunning Website!</h2>
        <span class="odc-text-white odc-fs-xx-md odc-ta-center" data-slide-up-reveal-anim data-anim-stagger="2">
            Our website development service is a blend of creativity, innovation, and technical prowess, 
            <br>
            resulting in digital experiences that captivate and convert.
        </span>
        <button class="odc-btn-gradient odc-text-white odc-fdr odc-align-center odc-m-2" data-slide-up-reveal-anim data-anim-stagger="3">
            Start Building Your Website <img class="chevron-circle-right odc-pl-1" src="/icons/chevron-circle-right-alt.svg" alt="Arrow Button">
        </button>
    </div>  
</section>
