// * Theme Colors * //
$primary: #132B3C !default;
$primary-accent: #19435E !default;
$secondary: #ed1c24  !default;
$secondary-accent: #fb373d  !default;
$error: #ED1C24 !default;
$info: #f6c31c !default;

// *** Root Variables *** //
:root {
  --primary: #{$primary}; 
  --primary-accent: #{$primary-accent}; 
  --secondary: #{$secondary}; 
  --secondary-accent: #{$secondary-accent};
  --accent-light: #{$secondary-accent};
  --accent-dark: 49, 10, 101;
  --odc-pos-x: 0;
  --odc-pos-y: 0;
  
  // *** Gradients *** //
  --primary-gradient: linear-gradient(
    60deg, var(--primary) 0%,
    var(--primary-accent) 30%,
    var(--secondary-accent) 70%,
    var(--secondary) 100%)
  ;
  --accent-gradient: linear-gradient(
    45deg, var(--secondary-accent),
    var(--accent-light) 30%,
    white 60%
  );

  --box-shadow-lg: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15), 0 50px 100px -20px rgba(50, 50, 93, 0.3), 0 30px 60px -30px rgba(0, 0, 0, 0.5), -10px 10px 60px -10px rgba(103, 178, 111, 0.3);

  --anim-ease-primary: cubic-bezier(0.22, 1, 0.36, 1);
  --anim-ease-secondary: cubic-bezier(0.85,0,0,1);
}



// // * Gradients
// $accent-gradient: 

// * Colors ** //
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange": #ffa600,
    "purple": #9900ff,
    "gray": #808080,
    "black": black,
    "white": white,
    "transparent": transparent
) !default;

// * Spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// * Borders
$base-border-thickness: 1px !default;
$base-border-radius: 2rem !default;

// * Box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;

// * Font sizes
$base-font-size: 1rem !default;
$font-size-xx-s: $base-font-size * 0.50 !default;
$font-size-x-s: $base-font-size * 0.75 !default;
$font-size-sm: $base-font-size * 1 !default;
$font-size-md: $base-font-size * 1.2 !default;
$font-size-x-md: $base-font-size * 1.5 !default;
$font-size-xx-md: $base-font-size * 1.8 !default;
$font-size-lg: $base-font-size * 2 !default;
$font-size-x-lg: $base-font-size * 2.2 !default;
$font-size-xx-lg: $base-font-size * 2.5 !default;
$font-size-xxx-lg: $base-font-size * 2.8 !default;
$font-size-display: $base-font-size * 3 !default;
$font-size-x-display: $base-font-size * 3.6 !default;
$font-size-xx-display: $base-font-size * 4.8 !default;
$font-size-ultra-display: $base-font-size * 6 !default;
$font-size-x-ultra-display: $base-font-size * 7.2 !default;
$font-size-xx-ultra-display: $base-font-size * 8.4 !default;

// * Typography
$font-family: 'Ubuntu',
sans-serif;
$font-family-alt: 'Helvetica',
Arial,
sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
